<h1>Edit <%= @product.name %></h1>
<%= link_to 'Back to All Products', products_url %> | <%= link_to 'Back to Product', product_path(@product) %>

<%= render 'errormsg', product: @product %>

<%= render 'form', product: @product %>
